---
fields:
  - name: "email"
    label: "Почта"
    type: "email"
    value: "pochta@yandex.ru"
  - name: "login"
    label: "Логин"
    type: "text"
    value: "ivanivanov"
  - name: "first_name"
    label: "Имя"
    type: "text"
    value: "Иван"
  - name: "second_name"
    label: "Фамилия"
    type: "text"
    value: "Иванов"
  - name: "display_name"
    label: "Имя в чате"
    type: "text"
    value: "Иван"
  - name: "phone"
    label: "Телефон"
    type: "text"
    value: "+7 (909) 967 30 30"
---
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профиль</title>
  <link rel="stylesheet" href="./profile.scss">
</head>
<body>
  <div class="profile">
    <div class="profile__nav">
      <button class="profile__back" />
    </div>
    <div class="profile__content">
      <form class="profile__form">
        <div class="profile__avatar">
          <input id="avatar" class="profile__avatar" name="avatar" type="file" />
          <label for="avatar"></label>
        </div>
        <h3 class="profile__name">Иван</h3>
        {{#each fields}}
          <label class="profile__field">
            <span>{{label}}</span>
            <input name="{{name}}" type="{{type}}" value="{{value}}" />
          </label>
        {{/each}}
      </form>
      <button class="profile__action-button">Сохранить</button>
    </div>
  </div>
</body>
</html>