@import "./variables";
@import "./reset";

.main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.chats {
  padding: 20px 10px 10px;
  width: 310px;
  min-width: 310px;
  border-right: 1px solid $color-border-light;
  max-height: 100%;
  overflow: auto;
}

.chats__head {
  display: flex;
  flex-direction: column;
}

.chats__profile-link {
  margin-bottom: 20px;
  align-self: flex-end;
  font-weight: 500;
  font-size: 12px;
  color: $color-text-light;
}

.chats__search {
  padding: 0 10px;
  margin-bottom: 14px;
  width: 100%;
  height: 32px;
  border-radius: 5px;
  background: $color-background;
  color: $color-text-light;
  border: 0;
  outline: none;
}

.chat-list__item {
  position: relative;
  display: flex;
  padding: 12px 23px 12px 0;
  border-top: 1px solid $color-border-light;
  cursor: pointer;
}

.chat-list__avatar {
  min-width: 47px;
  width: 47px;
  height: 47px;
  margin-right: 10px;
  border-radius: 50%;
  background: $color-background;

  img {
    width: 100%;
  }
}

.chat-list__name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 13px;
  color: $color-text-main;
}

.chat-list__last {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $color-text-light;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-list__time {
  position: absolute;
  top: 12px;
  right: 0;
  font-size: 9px;
  color: $color-text-light;
}

.chat-list__unread {
  position: absolute;
  bottom: 12px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $color-accent;
  color: $color-white;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
}

.chat-list__you {
  font-weight: bold;
  color: $color-text-main;
}

.chat {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px 20px;
}

.chat__head {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-border-light;
}

.chat__info {
  display: flex;
  align-items: center;
}

.chat__image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $color-background;
  margin-right: 10px;
}

.chat__name {
  color: $color-text-main;
  font-weight: 600;
  font-size: 13px;
}

.chat__actions {
  padding: 5px 15px;
  position: relative;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  span {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-text-main;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-text-main;
    top: -6px;
    left: 0;
  }

  span::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-text-main;
    top: 6px;
    left: 0;
  }
}

.chat__messages {
  padding-bottom: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.chat__date {
  margin: 30px 0;
  text-align: center;
  color: $color-text-light;
  font-size: 12px;
}

.chat__message-time {
  position: absolute;
  bottom: 7px;
  right: 10px;
  margin-left: 28px;
  display: block;
  color: $color-text-light;
  font-size: 9px;
}

.chat__message {
  position: relative;
  margin-bottom: 10px;
  max-width: 402px;
  padding: 11px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 15px;
  color: $color-text-main;
  background-color: $color-background-light;

  &_own {
    align-self: flex-end;
    background-color: $color-background-accent;

    .chat__message-time {
      color: $color-accent;
    }
  }
}

.chat__content::after {
  content: "";
  padding-right: 50px;
}

.chat__message:last-child {
  margin-bottom: 0;
}

.chat__footer {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid $color-border-light;
  align-items: center;
  justify-self: end;
}

.chat__input {
  margin-right: 10px;
  flex: 1;
  height: 32px;
  line-height: 32px;
  background-color: $color-background;
  border-radius: 30px;
  padding: 0 20px;
  color: $color-text-light;
  font-size: 12px;
  border: 0;
  outline: none;
}

.chat__send {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 0;
  outline: none;
  background-color: $color-accent;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.chat__attach {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border: 0;
  outline: none;
  background-color: transparent;
  background-image: url("../images/attach.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.chat__unselected-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 12px;
  color: $color-text-light;
}
