$color-accent: #3369f3;
$color-background: #efefef;
$color-background-accent: #e4edfd;
$color-background-light: #f8f8f8;
$color-background-lighter: #fbfbfb;
$color-border-light: #eaeaea;
$color-error: #ff2f2f;
$color-danger: #f00;
$color-text-grey: #8d8d8d;
$color-text-light: #999;
$color-text-main: #1e1e1e;
$color-white: #fff;
