<div class="chat-list__avatar"></div>
<div class="chat-list__info">
  <p class="chat-list__name">{{ name }}</p>
  <p class="chat-list__last">
    {{#if isAuthor}}
      <span class="chat-list__you">Вы:</span>
    {{/if}}
    {{ message }}
  </p>
</div>
<span class="chat-list__time">{{ time }}</span>
{{#if unread}}
  <span class="chat-list__unread">{{ unread }}</span>
{{/if}}
