<h4 class="change-avatar__title">{{ title }}</h4>
{{{ changeModalInputField }}}
<button class="profile__action-button" type="submit">Поменять</button>
{{#if error}}
  <span class="change-avatar__error">{{ error }}</span>
{{/if}}
