<div class="profile__nav">
  <a href="/main" class="profile__back"></a>
</div>
<div class="profile__content">
  <form class="profile__form">
    <div class="profile__avatar">
      <input id="avatar" class="profile__avatar" name="avatar" type="file" />
      <label for="avatar"></label>
    </div>
    <h3 class="profile__name">{{ name }}</h3>
    <div class="profile__fields">{{{ fields }}}</div>
    {{#if editable}}
      <button class="profile__action-button">Сохранить</button>
    {{/if}}
  </form>
  <div class="profile__actions">
    {{{ actions }}}
  </div>
</div>
